<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Висячие сады Семирамиды</title>
</head>
<body>
    <main></main>
        <h2 class="wounder_header">Висячие сады Семирамиды</h2>
        <p class="wounder_text">
            Сады Семирамиды находились в древнем городе Вавилоне, но доказательств, что они существовали, нет. Однако это чудо света упоминали древнегреческие и римские историки.
            По одной из теорий, Висячие сады Семирамиды построили в VI–VII веке до нашей эры для жены царя Навуходоносора II. Это был четырёхэтажный дворец высотой примерно 40 метров. Висячие сады выглядели как пирамида, с ярусов которой свисали тропические растения — кипарис, ива, миндаль, гранат и другие деревья.
            Вместе с фонтанами и водоёмами сады создавали оазис. Чтобы поливать столько растений, спроектировали уникальную систему орошения, для которой требовалось несколько сотен рабов.
        </p>
        <p class="wounder_text">
            По одной из версий, висячие сады разрушило землетрясение, по другой — наводнение, третья говорит, что виноваты персидские войска.
        </p>
        <img src="../static/Hanging Gardens of Semiramis.png" class="wounder_img">
    </main>
</body>
</html>