<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" type="text/css" href="carousel/carousel.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Чудеса света</title>
</head>
<body>
    <main>
        <div class="main_first_sec">
            <h1 class="main_first_sec_h1">
                Чудеса
            </h1>
            <h2 class="main_first_sec_h2">
                света
            </h2>
        </div>

        <div class="main_second_sec">
            <div class="main_second_sec_text">
                <p class="main_second_sec_text_head">Какие именно?</p>
                <ol>
                    <li class="main_li"><a href="The_pyramid_of_Cheops.html">Пирамида Хеопса</a></li>
                    <li class="main_li"><a href="Hanging Gardens of Semiramis.html">Висячие сады Семирамиды</a></li>
                    <li class="main_li"><a href="Statue of Zeus in Olympia.html">Статуя Зевса в Олимпии</a></li>
                    <li class="main_li"><a href="Temple of Artemis.html">Храм Артемиды</a></li>
                    <li class="main_li"><a href="Mausoleum of the Mausoleum.html">Мавзолей Мавсола</a></li>
                    <li class="main_li"><a href="Statue of the Colossus of Rhodes.html">Статуя Колосса Родосского</a></li>
                    <li class="main_li"><a href="The Lighthouse of Alexandria.html">Александрийский маяк</a></li>
                </ol>
            </div>
            <div class="main_second_sec_img">
                <img src="../static/second_sec_im1.png" class="main_second_sec_img1">
                <img src="../static/second_sec_im3.png" class="main_second_sec_img3">
                <img src="../static/second_sec_im2.png" class="main_second_sec_img2">
            </div>
        </div>

        <div class="main_third_sec">
            <p class="main_third_sec_text1">
                <span class="main_third_sec_head">Семь чудес света</span> – это рукотворные древние сооружения, которые многие тысячелетия поражают людей своими масштабами и искусной архитектурой.
                Первый список составил ещё древнегреческий историк Геродот, правда, в него входили лишь три сооружения. Более привычный нам список из семи локаций описал греческий поэт Антипатр Сидонский во II веке до нашей эры
            </p>
            <p class="main_third_sec_text2"> Где находились? </p>
            <img src="../static/map.png" class="main_third_sec_img">
        </div>

        <div class="ant-carousel">
            <div class="ant-carousel-hider">
                <ul class="ant-carousel-list">
                    <li class="ant-carousel-element"><img src="https://avatars.mds.yandex.net/i?id=dc2d15b4e4bd1c917d80f3bc3a81586119155f17-12652282-images-thumbs&n=13" alt="0">
                        <p style="color: white;">Пирамида Хеопса</p>
                    </li>
                    <li class="ant-carousel-element"><img src="https://avatars.mds.yandex.net/i?id=c4482773aa83fe3372a76cf2169d483490136243668a4e5e-5281184-images-thumbs&n=13" alt="1">
                        <p style="color: white;">Висячие сады Семирамиды</p>
                    </li>
                    <li class="ant-carousel-element"><img src="https://avatars.mds.yandex.net/i?id=6100fca289a184e94921682101e47d79aeaea36a-9181167-images-thumbs&n=13" alt="2">
                        <p style="color: white;">Статуя Зевса в Олимпии</p>
                    </li>
                    <li class="ant-carousel-element"><img src="https://avatars.mds.yandex.net/i?id=24b89dab14c7111047aac3fd74de7803359022e95c165828-11490366-images-thumbs&n=13" alt="3">
                        <p style="color: white;">Храм Артемиды</p>
                    </li>
                    <li class="ant-carousel-element"><img src="https://avatars.mds.yandex.net/i?id=3ca01f5731ebc85b0968ba05054bad55eab0e3ae-5368643-images-thumbs&n=13" alt="4">
                        <p style="color: white;">Мавзолей Мавсола</p>
                    </li>
                    <li class="ant-carousel-element"><img src="https://avatars.mds.yandex.net/i?id=12dbe6c29ec7e967cc051a8f088acba88601ca95-12422657-images-thumbs&n=13" alt="5">
                        <p style="color: white;">Статуя Колосса Родосского</p>
                    </li>
                    <li class="ant-carousel-element"><img src="https://avatars.mds.yandex.net/i?id=65c1333d443aa1ed44641c2fb80a1db5ea5c981e-12543315-images-thumbs&n=13" alt="6">
                        <p style="color: white;">Александрийский маяк</p>
                    </li>
                </ul>
            </div>
            <div class="ant-carousel-arrow-left"></div>
            <div class="ant-carousel-arrow-right"></div>
            <div class="ant-carousel-dots"></div>
        </div>

        <script src="carousel/carousel.js"></script>
        <script>new Ant()</script>

        <div class="game-container">
            <img src="../static/pharaoh.webp" alt="Фараон" class="pharaoh-image">
            <h2>Какое ты чудо света?</h2>
            <div id="question"></div>
            <div id="options"></div>
        </div>

        <script src="game.js"></script>
        <script>askQuestion()</script>
    </main>
</body>
</html>