<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Мавзолей Мавсола</title>
</head>
<body>
    <main></main>
        <h2 class="wounder_header">Мавзолей Мавсола</h2>
        <p class="wounder_text">
            Строительство Галикарнасского Мавзолея (Гробница правителя Мавсола) началось царем Мавсолом еще при жизни. После его смерти жена, царица Артемисия, еще интенсивнее подошла к строительству вечного памятника великому мужу.
            В мавзолее выделялось три уровня общей высотой в 46 метров. Первый ярус представлял собой массивный цоколь из кирпича, облицованного мрамором. Далее на нем возвышался храм с 36 колоннами, которые подпирали крышу в виде пирамиды с 24 ступенями. На вершине крыши располагалась скульптура царя Мавсола и Артемисии в колесницы, запряженной 4 конями. 
        </p>
        <p class="wounder_text">
            Сама гробница располагалась в помещении нижнего яруса. Для поклонения царю было сооружено верхнее помещение с колоннами и статуей Мавсола, которая сохранилась до наших дней. Верхняя часть основания мавзолея была украшена сценами из греческого эпоса – битва с амазонками, охота, битва лапифов с кентаврами.
            Спустя 18 веков мавзолей был разрушен землетрясением. Раскопы были проведены в 1857г.
        </p>
        <img src="../static/Mausoleum of the Mausoleum.png" class="wounder_img">
    </main>
</body>
</html>