<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Статуя Зевса в Олимпии</title>
</head>
<body>
    <main></main>
        <h2 class="wounder_header">Статуя Зевса в Олимпии</h2>
        <p class="wounder_text">
            В Греции, в области под названием Элида, есть город Олимпия, который помимо Олимпийских игр подарил миру статую Зевса – работу скульптора Фидия. 
            Зевс восседал на троне, под его ногами находилась скамья, в правой руке он держал фигурку богини победы Ники, а в левой – скипетр с орлом. В высоту статуя была 12-17 метров, на ее изготовление ушло около 200кг золота.
        </p>
        <p class="wounder_text">
            Трон Зевса был изготовлен из слоновой кости, золота, драгоценных камней и черного дерева, его голову венчали ветви оливкового дерева – символ миролюбия. Сама статуя была изготовлена из слоновой кости розового цвета. 
            Тело Зевса прикрывала накидка из чистого золота,украшенная рисунками цветов и животных. Сам трон был установлен на пьедестал, размеры которого также были внушительным (9,5 х 6,5 м).
        </p>
        <img src="../static/Statue of Zeus in Olympia.png" class="wounder_img">
    </main>
</body>
</html>