<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Статуя Колосса Родосского</title>
</head>
<body>
    <main></main>
        <h2 class="wounder_header">Статуя Колосса Родосского</h2>
        <p class="wounder_text">
            Это огромная бронзовая статуя с изображением Бога Гелиоса, стоящего на острове Родос в Эгейском море. Была построена в 280 году до н.э.
            Колосс Родосский был высотой около 33 метров, статуя изображала Бога Геолиоса, покровителя острова Родоса и Бога солнца. Она стояла на входе в гавань Мандраки и служила своего рода символом благополучия и мощи города.
        </p>
        <p class="wounder_text">
            Строительство Колосса Родосского заняло около 12 лет и потребовало большого количества материалов и труда. Статуя была создана из бронзы и установлена на каменном основании. По легенде, само строительство статуи было финансировано продажей оружия, оставшегося после победы города в войне.
            Колосс Родосский простоял около 56 лет. В 226 году до нашей эры, статуя была разрушена землетрясением, которое разрезало ее на несколько частей. Затем разные народы использовали останки статуи для разных целей. Византийцы, например, продали металл Колосса арабским покупателям, которые перевозили его на верблюдах в течение нескольких лет.
        </p>
        <img src="../static/Statue of the Colossus of Rhodes.png" class="wounder_img">
    </main>
</body>
</html>