<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Храм Артемиды</title>
</head>
<body>
    <main></main>
        <h2 class="wounder_header">Храм Артемиды</h2>
        <p class="wounder_text">
            Храм в Эфесе, посвященный Артемиде – “Богине плодородия”, перестраивался много раз. К художественному оформлению храма приложили руку самые талантливые мастера Древней Греции.
            Внутри была установлена огромная статуя Артемиды, украшенная золотом и драгоценными камнями. Храм стал самым крупным святилищем древнего мира: 52 метра в ширину и 105 метров в длину. Крышу поддерживали 127 колонн высотой 18 метров.
        </p>
        <p class="wounder_text">
            В 356 году до н.э. храм сгорел в пожаре, поджег которого совершил Герострат. По легенде это случилось в ночь рождения Александра Великого в Македонии. Современники Александра Македонского рассказывали: "Нет ничего удивительного в том, что Храм Артемиды сгорел: ведь богиня была в это время занята, помогая Александру появиться на свет." 
            К началу III века до н.э. храм восстановили, но уже в III веке нашей эры его разграбили, а в IV – закрыли, и со временем болото поглотило храм.
            Полностью фундамент Храма Артемиды был вскрыт только в XX веке, под фундаментом обнаружились следы святилища, сожженного Геростратом. 
        </p>
        <img src="../static/Temple of Artemis.png" class="wounder_img">
    </main>
</body>
</html>