<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Александрийский Маяк</title>
</head>
<body>
    <main></main>
        <h2 class="wounder_header">Александрийский Маяк</h2>
        <p class="wounder_text">
            Александрийский маяк имеет и другое название – Фаросский, поскольку находится на острове Фарос, расположенному у побережья города Александрия.
            Строительство маяка началось в 285 году до н.э., все работы руководились архитектором Состратом Книдским. Сооружение имело 3 яруса, первый из которых был представлен квадратом со сторонами 30,5м. В высоту он достигал 60м, а углы украшали статуи тритонов. Первый ярус отводился для рабочих и охранников, а также для хранения запасов провизии и топлива. 
        </p>
        <p class="wounder_text">
            Средний ярус был построен в виде 8-угольника, верхняя часть декорировалась статуями. Третий ярус, выполненный в форме цилиндра, был фонарем. Его обнесли 8 колоннами и накрыли их куполом-конусом, а на верхушку водрузили 7-метровую статую Исиды-Фарии, считавшейся попечительницей мореплавателей (некоторые источники утверждают, что это была скульптура Посейдона – царя морей). В целом трехъярусная башня маяка достигала в высоту до 120м.
            Простояв почти тысячу лет, маяк Александрии все же начал разрушаться. Случилось это в 796 году н.э. из-за мощного землетрясения – верхняя часть конструкции просто рухнула.
        </p>
        <img src="../static/The Lighthouse of Alexandria.png" class="wounder_img">
    </main>
</body>
</html>