<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Пирамида Хеопса</title>
</head>
<body>
    <main></main>
        <h2 class="wounder_header">Пирамида Хеопса</h2>
        <ul>
            <li class="pyramid_li">Площадь боковой поверхности — 85 500 м²</li>
            <li class="pyramid_li">Площадь основания — 52 900 м²</li>
            <li class="pyramid_li">Длина бокового ребра — 230 м.</li>
        </ul>
        <p class="wounder_text">
            Во времена, когда построили пирамиду Хеопса, её высота достигала 147 метров — это соизмеримо со зданием в 50 этажей. Однако под воздействием землетрясений каменная верхушка обрушилась, и также осыпалась облицовка. Более того, бесчисленные поколения египтян растаскивали каменные блоки для строительства жилья. Сейчас же высота сооружения составляет 138 метров.
            Удивительное мастерство древних каменщиков
            Каменные плиты скрепляет особый строительный раствор, технология производства которого по сей день остаётся тайной. Любой современный цемент за 5000 лет обратился бы в пыль, но не древнеегипетский.
        </p>
        <img src="../static/The_pyramid_of_Cheops.png" class="wounder_img">
    </main>
</body>
</html>